{% comment %}
*   Gallery include for slides images
*   Lists all images from images/slides/ directory
*   Usage: {% include slides-gallery %}
{% endcomment %}
<div class="slides-gallery">
	<ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-clearing id="slides-gallery-list">
		<!-- Images will be loaded dynamically via JavaScript -->
	</ul>
</div>

<script>
(function() {
	var imageFiles = [
		"20241010_223820.jpg", "20241011_083836.jpg", "20241011_083856.jpg", "20241011_091221.jpg",
		"20241011_091225.jpg", "20241011_091319.jpg", "20241011_091353.jpg", "20241011_091514.jpg",
		"20241011_093652.jpg", "20241011_093718.jpg", "20241011_093744.jpg", "20241011_093831.jpg",
		"20241011_094044.jpg", "20241011_094054.jpg", "20241011_094126.jpg", "20241011_094159.jpg",
		"20241011_094219.jpg", "20241011_094229.jpg", "20241011_095223.jpg", "20241011_095239.jpg",
		"20241011_095307.jpg", "20241011_110947.jpg", "20241011_111003.jpg", "20241011_111013.jpg",
		"20241011_111033.jpg", "20241011_111045.jpg", "20241011_111101.jpg", "20241011_111134.jpg",
		"20241011_111148.jpg", "20251008_111247.jpg", "20251008_113652.jpg", "20251008_113706.jpg",
		"20251008_121741.jpg", "20251008_143101.jpg"
	];
	
	var galleryList = document.getElementById('slides-gallery-list');
	if (galleryList) {
		var imageUrl = '{{ site.urlimg }}slides/';
		imageFiles.forEach(function(filename) {
			var li = document.createElement('li');
			var a = document.createElement('a');
			a.href = imageUrl + filename;
			var img = document.createElement('img');
			img.src = imageUrl + filename;
			img.alt = 'Stordalsstølen 43 - ' + filename;
			img.setAttribute('data-caption', 'Stordalsstølen 43');
			a.appendChild(img);
			li.appendChild(a);
			galleryList.appendChild(li);
		});
		
		// Initialize Foundation Clearing after images are added
		setTimeout(function() {
			if (typeof jQuery !== 'undefined' && typeof Foundation !== 'undefined') {
				jQuery(document).foundation('clearing', 'reflow');
			} else if (typeof Foundation !== 'undefined' && Foundation.libs && Foundation.libs.clearing) {
				Foundation.libs.clearing.reflow();
			}
		}, 100);
	}
})();
</script>

